<html>
     <head>
         <meta charset="utf-8"/>
         <title>Animal Shelter - API</title>
         <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
         <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
     </head>
     <body>
         <h1>Animal Shelter</h1>
         <div>Animal shelter API implementation</div>
     </body>
 </html>
